body {
    background-color: rgb(236, 232, 226);
    font-family: 'crimson pro' , serif;
    display: grid;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 5% 1fr 5% ;
    gap: 8px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: header;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    border: solid 1px black;
    padding: 10px;
}

nav {
    grid-area: nav;
}
nav ul li a{
    text-decoration: none;
    margin-right: 30px;
    background-color: cornflowerblue;
    color: black;
    padding: 1px 10px 1px 5px;
    border-radius: 5px;
    font-size: 20px;
}

nav ul li .active {
    background-color:blueviolet;
}

main {
    grid-area: main;
}

main #sec_quien_soy {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#sec_quien_soy article {
    border: solid 1px;
}
main #sec_quien_soy #foto_quien_soy {
    text-align: center;
}

main #sec_quien_soy #art_quien_soy p {
    text-align: justify;
}

main #sec_quien_soy #art_quien_soy {
    padding: 5px;
}
main #sec_quien_soy #art_quien_soy div hr {
    width: 30%;
    float: left;
    margin: auto;
}

main #sec_quien_soy #art_quien_soy h3{
   margin: auto;
}
#a_que_me_dedico {
    background-color: #7fa7dc;
    color:white;
    text-align: center;
    padding: 10px;
}
footer {
    grid-area: footer;
}